{% load static %}
<section id="newsletter" class="section-p1 section-m1">
    <div class="newtext">
        <h4>Sign Up for Our Newsletter</h4>
        <p>Get E-Mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
</section>
<footer class="section-p1">
    <div class="col">
        <img class="logo" src="{%static 'img/logo.png'%}" alt="">
        <h4>Contact</h4>
        <p><strong>Address:</strong>250005, Meerut Delhi Road ,Street 52, MIT Meerut </p>
        <p><strong>Phone:</strong> +1234567812</p>
        <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fa fa-facebook-f"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-pinterest-p"></i>
                <i class="fa fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="{%static 'img/pay/app.jpg'%}" alt="">
            <img src="{%static 'img/pay/play.jpg'%}" alt="">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="{%static 'img/pay/pay.png'%}" alt="">
    </div>
    <div class="copyright">
        <p>© 2025, MIT Meerut - HTML CSS Ecommerce Template</p>
    </div>
</footer>